/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body { 
  color: white;
  font-family: 'Orbitron', sans-serif;
  background-color: black;
  font-weight: 300;
  font-size: 1rem;
}

ul { 
  list-style: none;
}
/******************************************
/* LAYOUT
/*******************************************/

/* Index Styles */
#roleButtonDiv { 
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#introTextDiv {
  margin: 5% 0 0 5%;
  max-width: 90%;
}

/* Responder Styles */
#resMain { 
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
}

#resTimer { 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}

/******************************************
/* INDEX PAGE STYLES
/*******************************************/
#gameTitle { 
  font-weight: 900;
  font-style: italic;
}

.roleButton { 
  border: white 2px solid;
  border-radius: 5px;
  padding: 2%;
  max-width: 35%;
}

.roleButton:hover { 
  background-color: rgb(36, 36, 36)
}

/******************************************
/* RESPONDER STYLES
/*******************************************/
#resClock { 
  font-weight: 900;
  font-size: 3rem;
}

#autoPilot { 
  border: 2px solid white;
  border-radius: 5px;
  padding: 1%;
  background-color: rgb(87, 4, 4);
  margin-top: 2%;
}

#autoPilot:hover { 
  background-color: rgb(51, 1, 1);
}

.modules { 
  border: 2px solid white;
  border-radius: 5px;
  height: 150px;
  width: 300px;
  margin-top: 5%;
  padding: 5%;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
}

#moduleList { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 32%;
  margin-top: 2%;
  max-width: 90%;
}

#modulesLeft { 
  display: flex;
  flex-direction: column;
}

#modulesRight { 
  display: flex;
  flex-direction: column;
}

#buttons { 
  display: flex;
  flex-direction: row;
}

/* Crosses Styles */
#crossesDiv { 
  margin-top: 1%;
}

.cross { 
  font-size: 2rem;
  color: rgb(31, 31, 31);

}
/***************
MODULE STYLES
***************/
#module0 { 
  font-size: 1.5rem;
}