/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body { 
  font-family: sans-serif;
  height: 100%;
}
/******************************************
/* LAYOUT
/*******************************************/
header { 
  text-align: center;
  background-color: black;
  color: white;
}

h1 { 
  margin: 0;
  padding: 1%;
}
/******************************************
/* HOME PAGE
/*******************************************/
#home { 
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 2%;
}

#selectYourRoleTitle { 
  margin-top: 3%;
  font-size: 1.5rem;
}

#roleSelect { 
  margin-top: 1.5%;
  display: flex;
  flex-flow: row;
  width: 45%;
  justify-content: space-between;
  text-align: center;
}

.roleArea { 
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 10%;
}

.roleText { 
  font-size: 0.80rem;
  margin-top: 5%;
}

.roleButton {
  border: solid black 3px;
  border-radius: 8px;
  padding: 20px;
  color: white;
}

#selectPassengerButton { 
  background-color: blue;
}

#selectGroundControlButton { 
  background-color: blueviolet;
}

#welcome { 
  text-align: center;
  padding-bottom: 5%;
}